/* Styles Specific to the Login Page */

/* Make background of login field translucent */
.translucent-background {
	
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5em;
	padding: 2em;
	
}

#logo-wrapper {

	padding: 0em;
	margin-left: -0.45em;
	
}

.text-field {
	
	border-radius: 0.5em;
	min-width: 100%;
	min-height: 2.5em;
	
}

.input-label {
	
	text-align: left;
	
}

/* Adjust spacing of sign-up link on hover. */
.letter-spacing a:hover {
  letter-spacing: 0.5px;
}






/* Some styles that I am working with:


html, body {
			height: 100%;
			margin: 0;
			padding: 0;
		}

		body {
			background: url('imgs/book_stack_in_forest.png') center / cover no-repeat;
			min-height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: "Courier New", "Times New Roman", serif;
		}
		
		.login-content {
			position: relative;
			z-index: 1;
			width: 100%;
			max-width: 420px;
			text-align: center;
			padding: 1rem;
		  }











 */