/* Styles Specific to the Login Page */

/* Make background of login field translucent */
.translucent-background {
	
	background-color: rgba(255, 255, 255, 0.65);
	border-radius: 2.5em;
	padding: 2em;
	
}

#logo-wrapper {

	padding: 0em;
	margin-left: -0.45em;
	
}

/* Adjust spacing of sign-up link on hover. */
.letter-spacing a:hover {
  letter-spacing: 0.5px;
}