/* Styles for Show/Hide search field checkbox*/
.checkbox-wrapper-35 .toggle-form-switch {
    display: none;
  }

  .checkbox-wrapper-35 .toggle-form-switch + label {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #78768d;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: "Courier New", "Times New Roman", serif;
    font-size: 17px;
    line-height: 15px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkbox-wrapper-35 .toggle-form-switch + label::before,
  .checkbox-wrapper-35 .toggle-form-switch + label::after {
    content: '';
    display: block;
  }

  .checkbox-wrapper-35 .toggle-form-switch + label::before {
    background-color: #81961C; /* Original: #05012c */
    border-radius: 500px;
    height: 20px;
    margin-right: 8px; /*Distance between toggle and beginning of text.*/
    -webkit-transition: background-color 0.125s ease-out;
    transition: background-color 0.125s ease-out;
    width: 40px;
  }

  .checkbox-wrapper-35 .toggle-form-switch + label::after {
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    -webkit-transition: -webkit-transform 0.125s ease-out;
    transition: -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out;
    transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
    width: 13px;
  }

  .checkbox-wrapper-35 .toggle-form-switch + label .switch-x-text {
    display: block;
    margin-right: .3em;
  }

  .checkbox-wrapper-35 .toggle-form-switch + label .switch-x-toggletext {
    display: block;
    font-weight: bold;
    height: 15px;
    overflow: hidden;
    position: relative;
    width: 50px; /* Distance between changing and unchanging label text. */
  }

  .checkbox-wrapper-35 .toggle-form-switch + label .switch-x-unchecked,
  .checkbox-wrapper-35 .toggle-form-switch + label .switch-x-checked {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  }

  .checkbox-wrapper-35 .toggle-form-switch + label .switch-x-unchecked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  .checkbox-wrapper-35 .toggle-form-switch + label .switch-x-checked {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  .checkbox-wrapper-35 .toggle-form-switch + label .switch-x-hiddenlabel {
    position: absolute;
    visibility: hidden;
  }

  .checkbox-wrapper-35 .toggle-form-switch:checked + label::before {
    background-color: #271F16;
  }

  .checkbox-wrapper-35 .toggle-form-switch:checked + label::after {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(20px, 0, 0); /* How far toggle moves. */
  }

  .checkbox-wrapper-35 .toggle-form-switch:checked + label .switch-x-unchecked {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  .checkbox-wrapper-35 .toggle-form-switch:checked + label .switch-x-checked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  
/* Result View Info Headers */

@media (max-width: 767px) {
  #result-view-toggle {
    font-size: 0.95em;
  }
  #result-count {
    font-size: 0.95em;
  }
} 


/* CARD VIEW STYLES */  
.info-card {
	
	background-color: #FAFAF4;
	border-radius: 0.5em;
	padding: 1em;
	margin: 0.5em;
	box-shadow: 4px 4px 7px #C7C7C3;
	
}

.info-card p {
	
	font-family: Garamond, serif, sans-serif; 
	
}

/* Dropdown styles */

.input-label {

	float: left; 
	margin-right: 0.8em;
	margin-top: 0.4em;
	
}

.dropdown-wrapper {
	
	overflow: hidden;
	
}

.dropdown-selection {
	
	cursor: pointer;
	border-radius: 0.5em;
	border-style: solid;
	width: 10em;
	padding: 2px 2px 2px 10px;
	
}

.select-arrow {
	
	/*margin-left: 4.9em;*/
	/*display: flex;*/
	
}

.dropdown-options {
	
	display:none;
	background-color: #C7C7C3; /*Temp background color. */
	width: 10em;
	border-radius: 0.3em 0.3em 0.5em 0.5em;
	padding: 0.5em;
	
}

.dropdown-selection:hover ~ .dropdown-options,
.dropdown-options:hover {
  display: block;
}

.underline-hover {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 4px;
  cursor: pointer;
}

.underline-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;                    /* Start with no width */
  height: 2px;
  background-color: #000000;
  transition: width 0.3s ease; /* Animate width */
}

.underline-hover:hover::after {
  width: 100%;                 /* Grow to full width on hover */
}










